<!-- <nav class="navbar navbar-light text-center" style="background-color: #e3f2fd;">
  <h5 class="text-secondary text-center mt-3 mb-3">Covid -19 information Dashboard </h5>
</nav> -->
<nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd !;">
  <a class="navbar-brand" href="#">
    <img src="../assets/images/virus.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    Covid -19 information Dashboard
  </a>
</nav>
<div class="container">

  <app-dashboard></app-dashboard>

</div>
<div class="footer text-muted mt-2">
  <p class="text-dark text-center m-1"> &copy; Developed by <span class="text-info"> Srikanth karra</span> <a
      class="ml-3" href="http://https://www.linkedin.com/in/srikanth-karra-155085138/"><img
        src="../assets/images/linkedin (1).png" alt="linekdin"></a> </p>

</div>